@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@darkestGreen: #05386B;
@lesserDarkGreen: #379683;
@nicestGreen: #5CDB95;
@lighterGreen: #8EE4AF;
@cream: #EDF5E1;

body { 
    background-color: @darkestGreen;
}

h1 {
    .intro {
        font-family: Cabin;
        color: @nicestGreen;
        font-size: 10vh;
    }
}

