@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Bold.otf);
}
* {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  background-color: #05386B;
  font-family: Circular;
}
.intro {
  font-family: Circular;
  color: #5CDB95;
  font-size: 5vh;
}
.fullscreenDiv {
  height: auto;
  width: 100%;
}
.space {
  position: absolute;
  height: 50%;
}
.center {
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -ms-flex-pack: center;
  overflow: hidden;
  height: 98vh;
  max-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
::selection {
  color: #05386B;
  background-color: #8EE4AF;
}
