@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Bold.otf);
}
* {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  background-color: #05386B;
  font-family: Circular;
}
.intro {
  font-family: Circular;
  color: #5CDB95;
  font-size: 5vh;
}
.fullscreenDiv {
  height: auto;
  width: 100%;
}
.space {
  position: absolute;
  height: 50%;
}
.center {
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -ms-flex-pack: center;
  overflow: hidden;
  height: 98vh;
  max-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
::selection {
  color: #05386B;
  background-color: #8EE4AF;
}
a.title {
  text-decoration: none;
  color: #5CDB95;
}
p.sevensec {
  size: 10px;
  opacity: 0;
  animation: insevensec 7s 3s forwards ease-in-out;
}
@keyframes insevensec {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.17;
  }
}
a.titleunder {
  background-image: linear-gradient(#b0fbbc, #b0fbbc), linear-gradient(#5CDB95, #EDF5E1);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s linear;
}
a.titleunder:hover {
  background-size: 0 2px, 100% 2px;
}
