@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Bold.otf);
}
* {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  background-color: #05386b;
  font-family: Circular;
}
.intro {
  font-family: Circular;
  color: #5cdb95;
  font-size: 5vh;
}
.fullscreenDiv {
  height: auto;
  width: 100%;
}
.space {
  position: absolute;
  height: 50%;
}
.center {
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -ms-flex-pack: center;
  overflow: hidden;
  height: 98vh;
  max-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
::selection {
  color: #05386b;
  background-color: #8ee4af;
}
a.title {
  text-decoration: none;
  color: #5cdb95;
}
p.sevensec {
  size: 10px;
  opacity: 0;
  animation: insevensec 7s 3s forwards ease-in-out;
}
@keyframes insevensec {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.17;
  }
}
a.titleunder {
  background-image: linear-gradient(#b0fbbc, #b0fbbc),
    linear-gradient(#5cdb95, #edf5e1);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s linear;
}
a.titleunder:hover {
  background-size: 0 2px, 100% 2px;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}
.popover {
  display: none;
  box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.7);
}
.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: #379683;
  animation: 1s grow ease forwards;
  text-align: center;
}
.nav_list {
  list-style-type: none;
}
.nav_list a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}
.nav_list_item {
  height: 100%;
  overflow: hidden;
}
.nav_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 0;
  animation: 2s slideUp ease forwards 0.5s;
  position: relative;
}
.nav_list li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background: #05386b;
  transition: all 0.5s ease;
}
.nav_list li:hover:before {
  width: 100%;
}
.popover p {
  padding: 50px;
  opacity: 0;
  animation: 1s fadeIn ease forwards 1s;
}
.popover .close::after {
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #bf2e97;
  color: #fff;
  content: "×";
  cursor: pointer;
  opacity: 0;
  animation: 1s fadeIn ease forwards 0.5s;
}
@keyframes grow {
  100% {
    height: 90%;
    width: 90%;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
